<!DOCTYPE html>
{% set assetHash = global.random() %}
<html lang="de">
<head>
    <meta charset="UTF-8" />
    {% include "partials/meta.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <!-- one -->
    <style>{% include "css/critical.css" %}</style>

    {# Add facility for pages to declare an array of critical styles #}
    {% if pageCriticalStyles %}
    {% for item in pageCriticalStyles %}
    <!-- two -->
    <style>{% include item %}</style>
    {% endfor %}
    {% endif %}

    <!-- three -->
    <link rel="stylesheet" media="print" href="{{ ('/fonts/fonts.css?' ~ assetHash) | url }}" onload="this.media='all'" />


    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
    {% for item in pageStylesheets %}
    <!-- four -->
    <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
    {% endfor %}
    {% endif %}
</head>
<body>
{% include "partials/navigation.html" %}

    {% block content %}
    {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/3.0.3/jquery.cycle.all.min.js"></script>
<script src="js/shuffle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script src="js/video.js"></script>
</body>
</html>