{% extends "layouts/base.html" %}

{% block content %}
<div data-barba="wrapper" class="intro-wrapper">
    <div data-barba="container" data-barba-namespace="{{ namespace }}" class="intro">

        <div class="section">

            <div class="video-container">
                <p> About Me ↓ </p>
                <div class="wrap-rel">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="video-section">
                                    <figure class="vimeo">
                                        <a href="https://player.vimeo.com/video/81047160" class="">
                                            <img src="./images/intro/thumbnail-video.jpg" alt="image"/>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "partials/next.html" %}
        {% include "partials/footer.html" %}
    </div>
</div>

{% endblock %}
