{% extends "layouts/base.html" %}

{% block content %}
<div class="section">
    <div class="blur-img"></div>
    <div class="blur-img-over"></div>
    <div class="video-container">
        <div class="wrap-rel">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="video-section">
                            <figure class="vimeo">
                                <a href="https://player.vimeo.com/video/81047160" class="">
                                    <img src="https://placehold.co/1920x1080" alt="image"/>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page cursor
================================================== -->

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>


<!--<div class="wrapper">-->
<!--    <article class="intro">-->
<!--        <div>-->
<!--            <iframe src="https://player.vimeo.com/video/935809708?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"-->
<!--                    width="560" height="315"-->
<!--                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"-->
<!--                    title="About Me - Trang Dông"></iframe>-->

<!--        </div>-->
<!--    </article>-->
<!--</div>-->

{% include "partials/dummy.html" %}
{% include "partials/next.html" %}
{% include "partials/footer.html" %}

{% endblock %}


<!-- <article class="intro">
    <div class="[ intro__header ] [ radius frame ]">
        <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
            <em class="text-800 md:text-900 lg:text-major weight-bold">{{ intro.main }}</em>
        </h1>
    </div>
    <div class="[ intro__content ] [ flow ]">
        <p class="intro__summary">{{ intro.summary }}</p>
        <a href="{{ intro.buttonUrl }}" class="button">{{ intro.buttonText }}</a>
    </div>
    <div class="[ intro__media ] [ radius dot-shadow ]">
        <img
                class="[ intro__image ] [ radius ]"
                src="{{ intro.image }}"
                alt="{{ intro.imageAlt }}"
        />
    </div>
</article> -->