.footer {
  margin-top: 15vh;
  padding-top: 5vh;
  color: white;
  font-size: large;
  text-align: center;

  .kontakt, .agentur {
    font-size: xx-large;
    text-transform: uppercase;
  }

  .kontakt {
    margin-top: 1.5vw;
  }

  .agentur {
    margin-top: 55px;
  }

  svg {
    width: 30px;
  }

  .footer__list{
    margin-top: 2vh;
    margin-bottom: 0;
  }

  .agentur_mail {
    padding: 0 10px 20px 10px;
  }
}

.full-bg {
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="900" height="700" viewBox="0 0 228.1 188.31" preserveAspectRatio="none"><path d="M227.9 188.31L228.1 0l-3.5.1c-1.89.1-27.45 2-27.45 2h0S98.52 6.6 58.39 3.5c-21.16-1.7-40.53-2-51.71-.9L0 3.17v185.14"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.footer__list {
  padding-left: 0;

  .footer__item {
    margin-top: 0.2vh;

    a:hover{
      color: yellow;
    }
  }
}