.events{
  text-align: center;
}

.events__container {
 display: inline-flex;
 flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border: 2px solid #b1b1b1;
}

.event__date, .event__details, .event__image {
  //background-color: lightgrey;
}

.event__date{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;

  .weekday, .year{
    font-size: 0.8em;
  }
}

.event__details{
  margin-left: auto;
  padding: 20px;

  .event__location {
    font-size: 0.8em;
  }
}

.event__image {
  margin-left: auto;
  width: 100px;
}
