@use 'reset';
@use 'blocks/nav';
@use 'blocks/intro';
@use 'blocks/next';
@use 'blocks/photos';
@use 'blocks/footer';
@use 'utilities/wrapper';


// Global styles start
:root {
  --flow-space: 1.77rem;
}

body {
  background-color: #C5D3E8;
  color: #263147;
  font-size: 1.33rem;
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// selection styling
::selection {
  color: #c5d3e8;
  background: #263147;
}

// barba-specifics
[data-barba="container"] {
  position: absolute;
  width: 100%;
}