@use 'reset';
@use 'blocks/nav';
@use 'blocks/intro';
@use 'blocks/next';
@use 'blocks/footer';
@use 'utilities/wrapper';


// Global styles start
:root {
  --flow-space: 1.77rem;
}

body {
  background-color: #C5D3E8;
  color: #263147;
  font-size: 1.33rem;
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// selection styling
::selection {
  color: yellow;
  background: red
}

// scrollbar styling
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid #505c73;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #38445b;
  border-radius: 0.25rem;
}

[data-barba="container"] {
  position: absolute;
  width: 100%;
}