<article class="dummys">
        <p> {{ dummy.title }} </p>
    <br>

    <div class="dummys_container">
    <!-- Row -->
    {% for item in dummy.items %}
    <a class="[ dummy_link ] [ row mx-auto align-items-center mb-2 d-none d-md-flex ]" href="{{ item.url }}" target="_blank"
       title="{{ item.production }}">
        <div class="[ date ] [ col-md-1 ]">
            <div class="weekday">{{ helpers.getWeekday(item.date) }}</div>
            {% set dateParts = item.date.split('.') %}
            <div class="date">{{ dateParts[0] }}.{{ dateParts[1] }}</div>
            <div class="year">{{ dateParts[2] }}</div>
        </div>
        <div class="[ dummy_details ] [ col-md-7 text-start ]">
            <div class="dummy_production">{{ item.production }}</div>
            <div class="dummy_location">{{ item.location }}</div>
        </div>
        <div class="[ dummy_image] [ col-md-4 ]">
            <img src="{{ 'images/events/' + item.image | safe }}" alt="{{ item.production }}">
        </div>
    </a>
    {% endfor %}

    <!-- Card -->
    {% for item in dummy.items %}
    <a class="[ dummy_link ] [ stacked-layout d-block d-md-none ]" href="{{ item.url }}" target="_blank"
       title="{{ item.production }}">
        <div class="[ dummy_date ] [ foreground-child ]">
            {{ helpers.getWeekday(item.date) }} , {{item.date}}
        </div>
        <div class="[ dummy_details ] [ foreground-child ]">
            <div class="dummy_production">{{ item.production }}</div>
            <div class="dummy_location">{{ item.location }}</div>
        </div>
        <div class="[ dummy_image] [ background-child ]">
            <img src="{{ 'images/events/' + item.image | safe }}" alt="{{ item.production }}">
        </div>
    </a>
    {% endfor %}
    </div>
</article>

<!--<article class="dummys">-->
<!--    <div class="wrapper">-->
<!--        <p> {{ dummy.title }} </p>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="dummys_container">-->
<!--        {% for item in dummy.items %}-->
<!--        <a class="[ dummy_link ] [ container ]" href="{{ item.url }}" target="_blank" title="{{ item.production }}">-->
<!--            <div class="[ row ]">-->
<!--                &lt;!&ndash; Block 1: Date &ndash;&gt;-->
<!--                <div class="[ dummy_date ] [ col-4 col-md-3 ]">-->
<!--                    <div class="weekday">{{ helpers.getWeekday(item.date) }}</div>-->
<!--                    {% set dateParts = item.date.split('.') %}-->
<!--                    <div class="date">{{ dateParts[0] }}.{{ dateParts[1] }}</div>-->
<!--                    <div class="year">{{ dateParts[2] }}</div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Block 2: Details &ndash;&gt;-->
<!--                <div class="[ dummy_details ] [ col-8 col-md-5 ]">-->
<!--                    <div class="dummy_production">{{ item.production }}</div>-->
<!--                    <div class="dummy_location">{{ item.location }}</div>-->
<!--                </div>-->

<!--                <div class="[ dummy_image ] [ col-12 col-md-4 ]">-->
<!--                    <img src="{{ 'images/events/' + item.image | safe }}" alt="{{ item.production }}">-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</article>-->