<article class="footer">
    <div class="wrapper">
        <div>
            <p>Write me:</p>
            <br>
            <nav>
                <ul class="footer__list">
                    {% for item in footer.items %}
                    <li>
                        <a href="{{ item.url }}" target="_blank">
                            ➔ {{ item.text }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</article>
