<article class="[ events ]">
    <p>hello</p>
    <p>{{ next | dump }}</p>


    <div class="wrapper">
        <h1>
            <em>{{ next.title }}</em>
        </h1>
        <div class="[ events__container ]">
            {% for item in next.items %}
            <a class="event__link flex__container" href="{{ item.url }}" target="_blank" title="{{ item.production }}">
                <div class="event__date">
                    <div class="weekday">{{ helpers.getWeekday(item.date) }}</div>
                    {% set dateParts = item.date.split('.') %}
                    <div class="date">{{ dateParts[0] }}.{{ dateParts[1] }}</div>
                    <div class="year">{{ dateParts[2] }}</div>
                </div>
                <div class="event__details">
                    <div class="event__production">{{ item.production }}</div>
                    <div class="event__location">{{ item.location }}</div>
                </div>
                <div class="slides__block">
                    <ul class="slides">
                        {% for image in item.imageFiles %}
                            <img src="{{ item.images | replace('src/', '') }}/{{ image }}" alt="{{ item.production }} - Slide {{ loop.index }}">
                        {% endfor %}
                    </ul>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</article>
