<article class="[ events ]">
    <div class="wrapper">
        <h1>
            {{ next.title }}
        </h1>
        <br>
        <div class="[ events__container ]">
            {% for item in next.items %}
            <a class="event__link flex__container" href="{{ item.url }}" target="_blank" title="{{ item.production }}">
                <div class="event__date">
                    <div class="weekday">{{ helpers.getWeekday(item.date) }}</div>
                    {% set dateParts = item.date.split('.') %}
                    <div class="date">{{ dateParts[0] }}.{{ dateParts[1] }}</div>
                    <div class="year">{{ dateParts[2] }}</div>
                </div>
                <div class="event__details">
                    <div class="event__production">{{ item.production }}</div>
                    <div class="event__location">{{ item.location }}</div>
                </div>
                <div class="slides__block"
                     style="background-image: url('{{ item.images }}/{{ item.imageFiles[0] }}');">
                    <ul class="slides">
                        {% for image in item.imageFiles %}
                        {% if loop.index > 1 %}
                            <img src="{{ item.images }}/{{ image }}" alt="{{ item.production }} - Slide {{ loop.index }}">
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</article>
